@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px; }
  html:focus-within {
    scroll-behavior: smooth; }

body {
  min-height: 100vh;
  scroll-behavior: smooth; }

li {
  list-style: none; }

a {
  text-decoration: none; }

input,
button {
  outline: none; }

input {
  line-height: normal; }

button {
  cursor: pointer; }

img {
  display: block;
  max-width: 100%; }

.container {
  margin: 0 7.5rem; }

/* Mixin */
/* Set các giá trị với màn hình tương ứng */
/* <= 739 is mobile */
/* >= Tablet */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 46px;
  background-color: #3867e7;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  transition: 0.3s linear; }
  header .logo {
    display: flex;
    background-color: red;
    margin-left: 24px;
    border-radius: 50%; }
    header .logo a {
      color: #fff;
      font-size: 24px;
      padding: 0 10px;
      text-shadow: 2px 2px blue;
      text-align: center;
      line-height: 46px; }
  header nav {
    margin: 0; }
    header nav ul {
      display: flex; }
      header nav ul li {
        padding: 0 24px;
        transition: 0.5s linear;
        border-radius: 5px;
        margin-left: 12px; }
        header nav ul li:hover {
          background-color: red; }
          header nav ul li:hover a {
            color: #fff; }
        header nav ul li a {
          transition: 0.5s linear;
          color: black;
          font-weight: 600;
          line-height: 46px;
          text-align: center; }
      header nav ul li.active {
        background-color: red; }
        header nav ul li.active a {
          color: #fff; }
  header .search-btn {
    top: 0;
    right: 0;
    margin-right: 24px;
    position: relative; }
    header .search-btn input {
      top: 10px;
      right: 70px;
      position: absolute;
      transition: 0.5s linear;
      width: 240px;
      border-radius: 15px;
      padding: 4px 8px;
      border: none;
      outline: none;
      opacity: 0; }
    header .search-btn:hover input {
      opacity: 1; }
    header .search-btn a i {
      transition: 0.3s linear;
      background-color: red;
      font-size: 16px;
      padding: 0 24px;
      color: #000;
      line-height: 46px; }
    header .search-btn a:hover i {
      color: #fff; }
  header .bars {
    display: none;
    transition: 0.3s linear;
    border: 1px solid white;
    cursor: pointer; }
    header .bars:hover {
      background-color: red; }
  header .nav-bars {
    transform: translateX(100%);
    position: absolute;
    top: 46px;
    background-color: #ccc;
    width: 100%;
    min-height: 100vh;
    transition: 0.5s linear;
    opacity: 0; }
    header .nav-bars ul li {
      text-align: center;
      border-bottom: 1px solid #000; }
      header .nav-bars ul li a {
        font-size: 20px;
        font-weight: 600;
        color: #01154b;
        line-height: 68px;
        background-color: #878de3;
        display: flow-root;
        transition: 0.3s linear; }
        header .nav-bars ul li a:hover {
          background-color: red;
          color: #fff; }
    header .nav-bars ul li:last-child {
      border: none; }
  header .nav-bars.active {
    transform: translateX(0%);
    background-color: rgba(20, 65, 188, 0.6);
    opacity: 1;
    transition: 0.3s linear; }
  @media (max-width: 739px) {
    header nav {
      display: none; }
    header .search-btn {
      top: 0;
      left: 100px;
      display: none; }
    header .bars {
      display: block;
      margin-right: 12px; }
      header .bars i {
        padding: 0 12px;
        font-size: 32px;
        line-height: 46px;
        color: #fff; } }

main {
  width: 100%;
  margin-top: 2.875rem; }
  main .slider {
    max-width: 1000px;
    height: 500px;
    margin: 1.5625rem auto;
    position: relative;
    padding-top: 0.75rem; }
    main .slider .prev,
    main .slider .next {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;
      border-radius: 100rem;
      transition: 0.3s linear;
      background-color: white; }
      main .slider .prev .slider-next,
      main .slider .prev .slider-prev,
      main .slider .next .slider-next,
      main .slider .next .slider-prev {
        color: #999;
        cursor: pointer;
        font-size: 1.25rem; }
      main .slider .prev:hover,
      main .slider .next:hover {
        background-color: red; }
        main .slider .prev:hover i,
        main .slider .next:hover i {
          color: #fff; }
    main .slider .next {
      right: -1.5625rem;
      box-shadow: 10px 10px 1.25rem #1d1347; }
    main .slider .prev {
      left: -1.5625rem;
      box-shadow: -10px 10px 1.25rem #1d1347; }
    main .slider .slider-wrapper {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative; }
      main .slider .slider-wrapper .slider-main {
        display: flex;
        position: relative;
        transition: all 0.5s linear;
        height: 100%; }
        main .slider .slider-wrapper .slider-main .slider-item {
          height: 100%;
          width: 100%;
          flex: 1 0 100%;
          user-select: none; }
          main .slider .slider-wrapper .slider-main .slider-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px; }
  @media (max-width: 739px) {
    main {
      width: 100%;
      margin-top: 2.875rem; }
      main .slider {
        max-width: 320px;
        height: 200px;
        margin: 1.5625rem auto;
        position: relative;
        padding-top: 0.75rem; } }
  @media (min-width: 740px) and (max-width: 1023px) {
    main {
      width: 100%;
      margin-top: 2.875rem; }
      main .slider {
        max-width: 800px;
        height: 300px; } }
  @media (min-width: 1024px) and (max-width: 1112px) {
    main {
      width: 100%;
      margin-top: 2.875rem; }
      main .slider {
        max-width: 900px;
        height: 300px; } }
  main .content-music {
    display: flex; }
    main .content-music .player {
      top: 0;
      flex: 1;
      margin: 0 0.75rem;
      overflow: hidden; }
      main .content-music .player .dashboard {
        top: 2.875rem;
        padding: 0.75rem 0;
        background-color: #1d1347;
        border-bottom: 5px solid white; }
        main .content-music .player .dashboard .title {
          text-align: center; }
          main .content-music .player .dashboard .title h4 {
            color: #eb1b4c; }
          main .content-music .player .dashboard .title h2 {
            color: #fff; }
        main .content-music .player .dashboard .cd .cd-image {
          margin: 0 auto;
          height: 18.75rem;
          width: 18.75rem;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center; }
        main .content-music .player .dashboard .control {
          display: flex;
          justify-content: space-evenly; }
          main .content-music .player .dashboard .control .btn {
            margin: 0.75rem;
            background-color: #3863e5;
            padding: 0.25rem 0.75rem;
            border-radius: 12%;
            border: 1px solid #000;
            box-shadow: 5px 5px grey; }
          main .content-music .player .dashboard .control .btn-repeat,
          main .content-music .player .dashboard .control .btn-prev,
          main .content-music .player .dashboard .control .btn-toggle-play,
          main .content-music .player .dashboard .control .btn-next,
          main .content-music .player .dashboard .control .btn-random {
            transition: 0.3s linear; }
            main .content-music .player .dashboard .control .btn-repeat:hover,
            main .content-music .player .dashboard .control .btn-prev:hover,
            main .content-music .player .dashboard .control .btn-toggle-play:hover,
            main .content-music .player .dashboard .control .btn-next:hover,
            main .content-music .player .dashboard .control .btn-random:hover {
              color: #fff;
              background-color: red;
              cursor: pointer;
              border: 1px solid #fff;
              box-shadow: none; }
          main .content-music .player .dashboard .control .btn-random.active {
            color: #fff;
            background-color: red;
            box-shadow: none; }
          main .content-music .player .dashboard .control .btn-repeat.active {
            color: #fff;
            background-color: red;
            box-shadow: none; }
          main .content-music .player .dashboard .control .btn-toggle-play.active {
            color: #fff;
            background-color: red;
            box-shadow: none; }
        main .content-music .player .dashboard input {
          display: block;
          margin: 0 auto;
          margin-top: 0.75rem;
          width: 80%; }
        main .content-music .player .dashboard input[type="range"] {
          -webkit-appearance: none; }
          main .content-music .player .dashboard input[type="range"]:focus {
            outline: none; }
          main .content-music .player .dashboard input[type="range"]::-webkit-slider-runnable-track {
            width: 100%;
            height: 0.25rem;
            cursor: pointer;
            animate: 0.2s;
            background: blue;
            border-radius: 1.5625rem; }
          main .content-music .player .dashboard input[type="range"]::-webkit-slider-thumb {
            height: 1.25rem;
            width: 1.25rem;
            border-radius: 50%;
            background: red;
            box-shadow: 0 0 0.25rem 0 black;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -0.5rem; }
      main .content-music .player .playList {
        background-color: #1d1347;
        overflow-y: scroll;
        height: 13.75rem;
        margin-right: -1rem; }
        main .content-music .player .playList .song {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid;
          height: 3.75rem;
          transition: 0.3s linear; }
          main .content-music .player .playList .song .song-image {
            margin-left: 1.5rem;
            height: 2.875rem;
            width: 2.875rem;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; }
          main .content-music .player .playList .song .body {
            text-align: center; }
            main .content-music .player .playList .song .body h3 {
              font-size: 1rem;
              color: #fff; }
            main .content-music .player .playList .song .body p {
              font-size: 0.5rem;
              color: #ccc; }
          main .content-music .player .playList .song .option {
            margin-right: 1.5rem;
            height: 1.5rem;
            width: 1.5rem;
            color: #fff;
            text-align: center;
            transition: 0.3s linear; }
            main .content-music .player .playList .song .option:hover {
              background-color: white;
              border-radius: 0.75rem;
              color: black;
              cursor: pointer; }
        main .content-music .player .playList .song[data-index]:not(.active):hover {
          background-color: #3863e5;
          cursor: pointer; }
        main .content-music .player .playList .song.active:hover {
          cursor: wait; }
      main .content-music .player .active {
        background-color: #eb1b4c; }
      main .content-music .player .checked {
        position: fixed;
        background-color: #333;
        top: 50%;
        left: 50%;
        background-color: rgba(100, 100, 111, 0.5);
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        display: none;
        z-index: 1000;
        justify-content: center; }
        main .content-music .player .checked .checkedItem {
          position: relative;
          border-radius: 12%;
          align-self: center;
          background-color: #333;
          height: 18.75rem;
          width: 25rem;
          color: #fff;
          text-align: center;
          display: flex;
          justify-content: center;
          flex-direction: column; }
          main .content-music .player .checked .checkedItem .cancleCheck {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            width: 2rem;
            height: 2rem;
            cursor: pointer;
            transition: 0.2s linear; }
            main .content-music .player .checked .checkedItem .cancleCheck i {
              text-align: center;
              font-size: 2rem; }
            main .content-music .player .checked .checkedItem .cancleCheck:hover {
              color: red;
              background-color: #ccc; }
          main .content-music .player .checked .checkedItem h3 {
            padding-bottom: 2rem; }
          main .content-music .player .checked .checkedItem .btnChecked {
            justify-content: space-evenly;
            display: flex;
            height: 2rem; }
            main .content-music .player .checked .checkedItem .btnChecked div {
              line-height: 2rem;
              background-color: red;
              border-radius: 12%;
              width: 3.75rem;
              height: 2rem;
              cursor: pointer; }
    main .content-music .general {
      flex: 3;
      margin: 0 0.75rem;
      background-color: #1d1347;
      padding: 0.75rem;
      color: #fff; }
      main .content-music .general .newPost {
        border-bottom: 1px solid #fff;
        padding-bottom: 1.25rem; }
        main .content-music .general .newPost h1 {
          padding-top: 0.75rem;
          padding-left: 0.75rem; }
        main .content-music .general .newPost .general-select {
          display: flex;
          justify-content: space-between;
          padding: 0.75rem 0; }
          main .content-music .general .newPost .general-select .general-select__item {
            display: flex; }
          main .content-music .general .newPost .general-select .select p {
            margin-left: 0.75rem;
            box-shadow: 5px 5px grey;
            border: 1px solid;
            border-radius: 0.75rem;
            padding: 0.25rem 0.5rem;
            background-color: #3863e5;
            transition: 0.2s linear; }
            main .content-music .general .newPost .general-select .select p:hover {
              color: #fff;
              background-color: red;
              cursor: pointer;
              border: 1px solid #fff;
              box-shadow: none; }
            main .content-music .general .newPost .general-select .select p .active {
              color: #fff;
              background-color: red;
              cursor: pointer;
              border: 1px solid #fff;
              box-shadow: none; }
          main .content-music .general .newPost .general-select .select .select-song.active,
          main .content-music .general .newPost .general-select .select .select-album.active,
          main .content-music .general .newPost .general-select .select .select-deleted.active,
          main .content-music .general .newPost .general-select .select .select-all.active {
            color: #fff;
            background-color: red;
            cursor: pointer;
            border: 1px solid #fff;
            box-shadow: none; }
        main .content-music .general .newPost .general-items {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          gap: 0.75rem; }
          main .content-music .general .newPost .general-items .item {
            height: 6.25rem;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-radius: 0.75rem;
            transition: 0.3s linear; }
            main .content-music .general .newPost .general-items .item:hover {
              background-color: #3863e5;
              border-radius: 0.75rem; }
            main .content-music .general .newPost .general-items .item .item-image {
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              height: 3.75rem;
              width: 3.75rem;
              border-radius: 25%; }
            main .content-music .general .newPost .general-items .item .item-detail {
              margin-left: 0.75rem;
              text-align: center; }
              main .content-music .general .newPost .general-items .item .item-detail h4 {
                font-size: 1rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 10rem; }
              main .content-music .general .newPost .general-items .item .item-detail .item-name {
                font-size: 0.75rem; }
              main .content-music .general .newPost .general-items .item .item-detail .item-day {
                font-size: 0.625rem; }
      main .content-music .general .checkedPost {
        position: fixed;
        background-color: #333;
        top: 50%;
        left: 50%;
        background-color: rgba(100, 100, 111, 0.5);
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        display: none;
        z-index: 1000;
        justify-content: center; }
        main .content-music .general .checkedPost .checkedItem {
          position: relative;
          border-radius: 12%;
          align-self: center;
          background-color: #333;
          height: 18.75rem;
          width: 25rem;
          color: #fff;
          text-align: center;
          display: flex;
          justify-content: center;
          flex-direction: column; }
          main .content-music .general .checkedPost .checkedItem .cancleCheck {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            width: 2rem;
            height: 2rem;
            cursor: pointer;
            transition: 0.2s linear; }
            main .content-music .general .checkedPost .checkedItem .cancleCheck i {
              text-align: center;
              font-size: 2rem; }
            main .content-music .general .checkedPost .checkedItem .cancleCheck:hover {
              color: red;
              background-color: #ccc; }
          main .content-music .general .checkedPost .checkedItem h3 {
            padding-bottom: 2rem; }
          main .content-music .general .checkedPost .checkedItem .btnChecked {
            justify-content: space-evenly;
            display: flex;
            height: 2rem; }
            main .content-music .general .checkedPost .checkedItem .btnChecked div {
              line-height: 2rem;
              background-color: red;
              border-radius: 12%;
              width: 3.75rem;
              height: 2rem;
              cursor: pointer; }
    @media (min-width: 740px) and (max-width: 1023px) {
      main .content-music {
        flex-direction: column;
        justify-content: center; }
        main .content-music .player {
          align-self: center;
          margin-bottom: 12px; }
          main .content-music .player .playList .song .body h3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 190px; }
          main .content-music .player .playList .song .option {
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center; }
        main .content-music .general {
          max-width: 1000px; }
          main .content-music .general .newPost .general-items {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column; }
            main .content-music .general .newPost .general-items .item {
              justify-content: space-evenly; }
              main .content-music .general .newPost .general-items .item .item-image {
                flex: 1;
                margin-left: 2rem;
                height: 4rem;
                max-width: 4rem; }
              main .content-music .general .newPost .general-items .item .item-detail {
                flex: 1;
                display: flex;
                justify-content: space-evenly; }
                main .content-music .general .newPost .general-items .item .item-detail h4 {
                  font-size: 20px;
                  width: 300px;
                  text-align: start; }
                main .content-music .general .newPost .general-items .item .item-detail p {
                  font-size: 12px; } }
    @media (min-width: 1024px) and (max-width: 1112px) {
      main .content-music {
        flex-direction: column;
        justify-content: center; }
        main .content-music .player {
          align-self: center;
          margin-bottom: 12px; }
          main .content-music .player .playList .song .body h3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 190px; }
          main .content-music .player .playList .song .option {
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center; }
        main .content-music .general {
          max-width: 1000px; }
          main .content-music .general .newPost .general-items {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column; }
            main .content-music .general .newPost .general-items .item {
              justify-content: space-evenly; }
              main .content-music .general .newPost .general-items .item .item-image {
                flex: 1;
                margin-left: 2rem;
                height: 4rem;
                max-width: 4rem; }
              main .content-music .general .newPost .general-items .item .item-detail {
                flex: 1;
                display: flex;
                justify-content: space-evenly; }
                main .content-music .general .newPost .general-items .item .item-detail h4 {
                  font-size: 20px;
                  width: 300px;
                  text-align: start; }
                main .content-music .general .newPost .general-items .item .item-detail p {
                  font-size: 12px; } }
    @media (max-width: 1344px) {
      main .content-music {
        flex-direction: column;
        justify-content: center; }
        main .content-music .player {
          align-self: center;
          margin-bottom: 12px; }
          main .content-music .player .playList .song .body h3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 190px; }
          main .content-music .player .playList .song .option {
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center; }
        main .content-music .general {
          max-width: 100%; }
          main .content-music .general .newPost .general-items {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column; }
            main .content-music .general .newPost .general-items .item {
              justify-content: space-evenly; }
              main .content-music .general .newPost .general-items .item .item-image {
                flex: 1;
                margin-left: 2rem;
                height: 4rem;
                max-width: 4rem; }
              main .content-music .general .newPost .general-items .item .item-detail {
                flex: 1;
                display: flex;
                justify-content: space-evenly; }
                main .content-music .general .newPost .general-items .item .item-detail h4 {
                  font-size: 20px;
                  width: 300px;
                  text-align: start; }
                main .content-music .general .newPost .general-items .item .item-detail p {
                  font-size: 12px; } }
    @media (max-width: 739px) {
      main .content-music {
        flex-direction: column;
        justify-content: center; }
        main .content-music .player {
          align-self: center;
          margin-bottom: 12px; }
          main .content-music .player .playList .song .body h3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 190px; }
          main .content-music .player .playList .song .option {
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: center; }
        main .content-music .general {
          max-width: 700px; }
          main .content-music .general .newPost .general-select .select {
            font-size: 12px; }
          main .content-music .general .newPost .general-items .item {
            width: auto;
            margin: 0; }
            main .content-music .general .newPost .general-items .item .item-detail h4 {
              width: 100px; } }

#footer .footer-navigation {
  display: flex;
  margin: 12px;
  background-color: #ccc; }
  #footer .footer-navigation .footer-info__title {
    margin: 12px; }
    #footer .footer-navigation .footer-info__title h3 {
      text-align: center;
      padding-top: 12px; }
    #footer .footer-navigation .footer-info__title ul {
      padding: 24px 0; }
      #footer .footer-navigation .footer-info__title ul li {
        transition: 0.5s linear;
        padding: 12px; }
        #footer .footer-navigation .footer-info__title ul li a {
          color: #000; }
  #footer .footer-navigation .info, #footer .footer-navigation .product {
    flex: 1;
    border-right: 1px solid black; }
    #footer .footer-navigation .info li:hover, #footer .footer-navigation .product li:hover {
      color: #fff;
      background-color: red;
      cursor: pointer;
      margin-left: 20px;
      border-radius: 12px 0 0 12px; }
  #footer .footer-navigation .link {
    flex: 2; }
    #footer .footer-navigation .link ul {
      display: flex;
      justify-content: center;
      position: relative; }
      #footer .footer-navigation .link ul li {
        font-size: 24px;
        margin: 0 12px;
        padding: 8px 12px; }
        #footer .footer-navigation .link ul li:hover {
          color: #fff;
          background-color: red;
          cursor: pointer;
          border-radius: 12px;
          color: white; }

@media (max-width: 739px) {
  #footer .footer-navigation {
    padding-bottom: 24px;
    flex-direction: column; }
    #footer .footer-navigation .info, #footer .footer-navigation .product {
      border: none; } }
